.containerInfo {
  height: 900px;
  overflow-y: scroll;
  padding-right: 30px;

  &::-webkit-scrollbar {
    width: 8px;
    /* WebKit */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    /* WebKit */
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    /* WebKit */
  }

  .sizes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .button {
      padding: 23px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .btnBig {
    display: flex;
    flex-direction: col;
    gap: 20px;
  }
}