.contact-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.slogan {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
}

.send-title {
    font-weight: 700;
    font-size: 24px;
    color: #777;
}