.img_banner {
    width: 100%;
    height: 700px;
}
.home_title{
    font-size: 24px;
    font-weight: 500;
    margin: 80px 0 20px 0
}

.App {
    width: 90%;
    margin: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    background-color: hsl(221, 39%, 18%);
  }
  
  .swiper-nav-btns button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: hsl(209, 19%, 74%);
    color: #fff;
    margin: 0px 0.3rem;
    /* margin-top: 30px; */
    transition: all .5s;
  }
  
  .swiper-nav-btns button:hover {
    background-color: hsl(213, 10%, 60%);
    cursor: pointer;
  }
  
  .res-slide:nth-child(1) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444282/samples/landscapes/nature-mountains.jpg");
  }
  
  .res-slide:nth-child(2) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444278/samples/landscapes/beach-boat.jpg");
  }
  
  .res-slide:nth-child(3) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444275/samples/landscapes/girl-urban-view.jpg");
  }
  
  .res-slide:nth-child(4) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444277/samples/animals/three-dogs.jpg");
  }
  
  .res-slide:nth-child(5) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444273/samples/animals/reindeer.jpg");
  }
  
  .res-slide:nth-child(6) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444278/samples/people/bicycle.jpg");
  }
  
  .res-slide:nth-child(7) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444279/samples/ecommerce/leather-bag-gray.jpg");
  }
  
  .res-slide:nth-child(8) {
    background: center / cover no-repeat url("https://res.cloudinary.com/mister-shadrack/image/upload/v1618444271/samples/ecommerce/analog-classic.jpg");
  }