@tailwind base;
@tailwind components;

@layer utilities {
  /* button,
  [type='submit'],
  .ant-btn-primary {
    -webkit-appearance: button;
    background-color: black;
    background-image: none;
  }

  button:hover,
  [type='submit']:hover,
  .ant-btn-primary:hover {
    background-color: rgb(51, 49, 90);
  } */
}

@tailwind utilities;